body {

}

[class*="__container"]{
    max-width: 1503px;
    margin: 0 auto;
    padding:0 15px;
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
    font-family: 'Inter Tight', sans-serif;
}


.header__logo {
    display: flex;
    padding-top: 20px;
}

.header__list {
    display: flex;
}

.header__list {
    display: flex;
    column-gap: 70px;
    padding-left: 287px;
    padding-top: 20px;
}

.header__item {
    font-weight: 600;
    font-size: 18px;
    color: #222222;
}

.techno {
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-bottom: 100px;
    
}

.tecnho__agents {
    
}

.agent {
    color: #fff;
    font-weight: 500;
    font-size: 100px;
}

.techno__container {
    
}
.techno__info{
    
}

.techno__mathes {
    padding-top: 50px;
    padding-bottom: 50px;
}

.techno__math {
    font-weight: 400;
    font-size: 30px;
    color: #fff;
}

.techno__btn {
    padding: 15px 50px;
    border-radius: 50px;
    background: #fff;
    color: #222222;
}

.tecnho__button {
    
}

.main__list {
    display: flex;
    padding-bottom: 50px;
}

.main__text-1 {
    padding-top: 55px;
    font-weight: 600;
    font-size: 25px;
    color: #150035;
}

.main__text-2 {
    padding-left: 165px;
    padding-top: 30px;
}


.main__text {
    padding-top: 30px;
    padding-left: 100px;
}

/*===================================================*/
.page__spectrum {
    background: #F1F2FB;
    width: 1920px;
    height: 773px;
}
/*===================================================*/
.specrtum__body {
    display:flex;
}
.spectrum__info {
    margin-right: 207px;
}
.spectrum__image{
    margin:128px 0 127px 0;
    width: 623px;
    height: 517.25px;
}
/*===================================================*/
.info__title {
    font-weight: 600;
    font-size: 50px;
    line-height: 120%;
    color: #150035;
    margin:179px 0 50px 0;
}
.info__sub-title {
    font-weight: 600;
    font-size: 35px;
    line-height: 130%;
    color: #222222;
    margin-bottom: 20px;
}
.info__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    color: #222222;
    max-width: 618px;
    margin-bottom: 50px;
}
.info__button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 15px 50px;
    gap: 10px;
    width: 276px;
    height: 56px;
    background: #222222;
    border-radius: 50.1141px;
    /* Текст в кнопке */
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    color: #FFFFFF;
}
/*===================================================*/
.page__products {

}
/*===================================================*/
.products {

}
.products__container {

}
.products__body {
    display:flex;
}
.products__image {

}
.products__text {

}
/*===================================================*/
.text {
}
.text__title {
}
.text__subtitle {
}
.text__info {
}
.text__button {
}
/*===================================================*/

.spectre {
    padding-top: 150px;
}

.custom__spectre {
    font-weight: 600;
    font-size: 50px;
    color: #14014F;
}

.import__tools {
    padding-top: 101px;
}

.custom__tools {
    font-weight: 600;
    font-size: 35px;
    color: #222222;
    
}

.po {
    
    font-weight: 400;
    font-size: 20px;
    color: #222222;
    
}

.grid__info {
    display: flex;
    padding-top: 50px;
}

.grid__math {
    display: inline-block;
    padding: 110px 30px;
    background: #F1F2FB;
    border-radius: 20px;
}

.state {
    display: flex;
    padding-left: 20px;
}

.state__info {
    font-weight: 400;
    font-size: 20px;
    color: #222222;
}

.state__text {  
    padding: 37px 45px 37px 30px;
    background: #FFFFFF;
    border: 1px solid #E9EAF4;
    border-radius: 10px;
}

