[class*="__container"]{
    max-width: 1503px;
    margin: 0 auto;
    padding:0 15px;
}
body{
    min-height: 100%;
    font-family: 'Inter Tight', sans-serif;
}

.header__logo {
    display: flex;
    padding-top: 20px;
}

.header__list {
    display: flex;
}
.header{
    position: absolute;
    left:200px;
}
.header__list {
    display: flex;
    column-gap: 70px;
    padding-left: 287px;
    padding-top: 20px;
}

.header__item {
    font-weight: 600;
    font-size: 18px;
    color: #222222;
}
.main__list {
    display: flex;
    padding-bottom: 50px;
}

.main__text-1 {
    padding-top: 55px;
    font-weight: 600;
    font-size: 25px;
    color: #150035;
}

.main__text-2 {
    padding-left: 165px;
    padding-top: 30px;
}


.main__text {
    padding-top: 30px;
    padding-left: 100px;
}

/*===================================================*/
.page__spectrum {
    background: #F1F2FB;
    width: 1920px;
    height: 773px;
}
/*===================================================*/
.specrtum__body {
    display:flex;
}
.spectrum__info {
    margin-right: 207px;
}
.spectrum__image{
    margin:128px 0 127px 0;
    width: 623px;
    height: 517.25px;
}
/*===================================================*/
.info__title {
    font-weight: 600;
    font-size: 50px;
    line-height: 120%;
    color: #150035;
    margin:179px 0 50px 0;
}
.info__sub-title {
    font-weight: 600;
    font-size: 35px;
    line-height: 130%;
    color: #222222;
    margin-bottom: 20px;
}
.info__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    color: #222222;
    max-width: 618px;
    margin-bottom: 50px;
}
.info__button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 15px 50px;
    gap: 10px;
    width: 276px;
    height: 56px;
    background: #222222;
    border-radius: 50.1141px;
}
.info__button a{
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    color: #FFFFFF;
}
.info__button:hover{
    background: #2E81CC;
}
/*===================================================*/
.page__products {
    background: #F4FDFF;
    padding-top:150px;
}
.page__services {
    background: #F8F7FF;
}
/*===================================================*/
.products__body {
    display:flex;
}
.products__image {
    margin:10% 153px 10% 0;;
  
}
.products__text {
    max-width: 756px;
}
/*===================================================*/
.text__title {
    font-weight: 600;
    font-size: 50px;
    line-height: 120%;
    color: #150035;
    margin-bottom: 50px;
}
.text__button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 15px 50px;
    gap: 10px;
    width: 291px;
    height: 56px;
    background: #222222;
    border-radius: 50.1141px;
}
.text__button a{
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    color: #FFFFFF;
}
.text__button:hover{
    background: #2E81CC;
}
.text__electrical{
    margin-bottom: 40px;
}
.text__technical-supervision{
    margin-bottom: 50px;
}
/*===================================================*/
.spectre {
    padding-top: 150px;
}

.custom__spectre {
    font-weight: 600;
    font-size: 50px;
    color: #14014F;
}

.import__tools {
    padding-top: 101px;
}

.custom__tools {
    font-weight: 600;
    font-size: 35px;
    color: #222222;
    
}

.po {
    
    font-weight: 400;
    font-size: 20px;
    color: #222222;
    
}

.grid__info {
    display: flex;
    padding-top: 50px;
}

.grid__math {
    display: inline-block;
    padding: 110px 30px;
    background: #F1F2FB;
    border-radius: 20px;
}

.state {
    display: flex;
    padding-left: 20px;
}

.state__info {
    font-weight: 400;
    font-size: 20px;
    color: #222222;
}

.state__text {  
    padding: 37px 45px 37px 30px;
    background: #FFFFFF;
    border: 1px solid #E9EAF4;
    border-radius: 10px;
}
.technical-supervision__subtitle {
    font-weight: 600;
    font-size: 35px;
    line-height: 130%;
    color: #222222;
    margin-bottom: 20px;
}
.technical-supervision__info {
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    color: #222222;
}

/*===================================================*/
.electrical__subtitle {
    font-weight: 600;
    font-size: 35px;
    line-height: 130%;
    color: #222222;
    margin-bottom: 20px;
}
.electrical__info {
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    color: #222222;
}
/*===================================================*/







.services__body {
    display: flex;
    margin:150px 231px 174px 0;
}
.services__service {
    margin-right: 284px;
}
/*===================================================*/
.service__title {
    font-weight: 600;
    font-size: 50px;
    line-height: 120%;
    color: #150035;
    margin-bottom: 50px;
}
.service__info ol li {
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    color: #222222;
    margin-bottom:10px;
    display: flex;
}
.service__info ol li p{
    margin-left: 5px;
}
.service__info{
    width: 600px;
    margin-bottom: 50px;
}
.service__button {
    padding: 15px 50px;
    gap: 10px;
    width: 261px;
    height: 56px;
    background: #222222;
    border-radius: 50.1141px;
}
.service__button a{
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    color: #FFFFFF;
}
.service__button:hover{
    background: #2E81CC;
}

.page__technology {
    background: url(../img/bg.jpg) no-repeat ;
    width: 1920px;
    height: 829px;
}

/*===================================================*/
.technology__relations {
    padding-top:200px
}
/*===================================================*/
.relations__title {
    font-style: normal;
    font-weight: 500;
    font-size: 100px;
    line-height: 100%;
    color: #FFFFFF;
    margin-bottom: 50px;
}
.relations__text {
    font-weight: 400;
    font-size: 30px;
    line-height: 120%;
    color: #FFFFFF;
    margin-bottom: 50px;
}
.relations__button {
    gap: 10px;
    width: 198px;
    height: 56px;
    background: #FFFFFF;
    border-radius: 50.1141px;
}
.relations__button a{
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    color: #222222;
    padding: 15px 50px;
}
.relations__button:hover{
    background: #2E81CC;
}
.relations__button a:hover{
    color: #FFFFFF;
}


/*===================================================*/
.why-are-we {
    background: #121217;
    padding:150px 0;
}
.why-are-we__partners{
    margin-bottom: 30px;
}
/*===================================================*/
.partners__title {
    font-weight: 600;
    font-size: 50px;
    line-height: 120%;
    color: #FFFFFF;
    margin-bottom: 50px;
}
.partners__info {
    width: 1012px;
    height: 182px;
    background: #2E81CC;
    border-radius: 20px;
    padding: 55px 49px;
}
.partners__info-text{
    font-weight: 400;
    font-size: 30px;
    line-height: 120%;
    color: #FFFFFF;
}
/*===================================================*/
.why-are-we__profit {
}
/*===================================================*/
.profit__title {
    font-weight: 600;
    font-size: 35px;
    line-height: 130%;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.profit__cards-1 {
    display:flex;
    gap:20px;
}
.profit__cards{
    margin-bottom: 50px;
}
.profit__cards-2 {
    display:flex;
    gap:20px;
}
.card-1{
    margin-bottom: 20px;
}
.profit__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 496px;
    height: 220px;
    background: #B9DEFF;
    border-radius: 20px;
/*===================================================*/
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    text-align: center;
    color: #222222;
}
.profit__button{
    align-items: flex-start;
    width: 206.23px;
    height: 56.07px;
    background: #FFFFFF;
    border-radius: 50.1141px;
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    color: #222222;
}
.profit__button:hover{
    background: #2E81CC;
    color: #FFFFFF;
}